.navbar-nav {
    margin: auto;
    display: flex;
    
  }

  /*hover vao se xuat hien menu con*/
 #navbarNav .nav-item:hover .dropdown-menu{
    display: block;

 }
 /*hover vao the a se doi mau*/
 #navbarNav li:hover a{
    color: rgb(251, 7, 7);

 }
  /*hover vao the con a se doi mau*/
 #navbarNav .dropdown-item:hover {
   color: rgb(251, 7, 7);

 }
 /*tim kiem*/

 #navbarNav .nav-item li:hover .search-container{
   display: block;

}

.banner  .logomenu img{
   width: 200px;
   height: 90px;
}
.banner .nav-item a{
   font-weight: bold;
   font-size: 14px;
   color: rgb(251, 250, 250);
}
.banner{
   width: 100%;
   height: 665px;
   position: relative;

}


.banner .carousel-item img{
   width:100%;
   height:665px;
    position: relative;
  
 }
 .carousel-item {

   height: 665px; 
   overflow: hidden;
  
 }
 .banner #carouselExample{
   height:665px;
   width: 100%;
   
 }
.banner .xemthem{
   width: 137px;
   height: 52px;
   display: block;
  position: absolute;
  margin-left: 50%;
  margin-top: 332px;

}
.banner .xemthem p{
  
 color: rgb(10, 0, 0);
  font-weight: bold;
  font-size: 14px;
  display: block;
  padding: 0.6rem 0.9rem;
  
  
}
.banner .xem:hover p{
  color: rgb(246, 243, 243);
 
}
.banner .xemthem .xem{
   width: 100%;
   height: 100%;
   padding: 0.3rem 1rem;
   position: absolute;
   display: block;
   background-color: aliceblue;
   border-radius: 7px;
}
.banner .xemthem:hover .xem{
   background-color: rgb(255, 89, 0);
   
}
.banner .wrapper{
   width: 100%;
   transition: all 1s ease-in-out;
   height: 120px;
}
.banner .wrapper .container-fluid{
   height: 100%;
}
.banner .wrapper.sticky{
   background-color: #fff;
   opacity: 3s;
   width: 100%;
   height: 100px;
}

.banner .wrapper.sticky a{
   color: black;
}
